.doctorsCard{  
    max-height: 351px;
    width: 200px;
    background: #ffffff;
    border-radius: 15px;
    border: none;
    overflow: hidden;
    padding-top: 20px;
    box-shadow:0px 24px 48px 0 rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.doctorsImgHeight{
    height: 150px;
}
.doctorsCard .doctorsImg{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

}
.doctorsCard  .docChannelBtn{
    padding: 5px 12px;
    margin-top: 15px;
    color:white;
    border: none;
    border-radius: 100px;
    width: 150px;
}